@charset "utf-8";
/* 主题主色 */
$main-theme-color-default: #0258ba;
$main-theme-color-dark: #652BF5;
$main-theme-color-light: #edc148;

/* 主题页面背景颜色 */
$page-bg-color-default: #000;
$page-bg-color-dark: #000;
$page-bg-color-light: #000;
